@model CadastroClientes.Models.Cliente

@{
    ViewData["Title"] = "Details";
}


<h4>Visualizando Cliente <b style="color: #7E0003;">@Model.Nome</b></h4>
<hr />
<div class="card shadow-sm mb-4">
    <div class="card-header bg-dark text-white">
        <h5 class="mb-0">Detalhes do Cliente</h5>
    </div>
    <div class="card-body">
        <dl class="row mb-0">
            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Nome) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Nome) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Tipo) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Tipo) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Documento) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Documento) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.DataCadastro) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.DataCadastro) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Telefone) </dt>
            <dd class="col-sm-9"> @Html.DisplayFor(model => model.Telefone) </dd>

            <dt class="col-sm-3"> @Html.DisplayNameFor(model => model.Ativo) </dt>
            <dd class="col-sm-9">
                @if (Model.Ativo)
                {
                    <span class="badge bg-success">Ativo</span>
                }
                else
                {
                    <span class="badge bg-danger">Inativo</span>
                }
            </dd>
        </dl>
    </div>
</div>

<div class="form-group d-flex justify-content-between mt-4">
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
    <a asp-action="Edit" class="btn btn-primary">Editar Cliente</a>
</div>

