@model IEnumerable<CadastroClientes.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}


<div class="d-flex align-items-center justify-content-between">
    <h1>Lista de Clientes</h1>
    <a class="p-2 text-white rounded-3 text-center" style="background-color: #7E0003; text-decoration:none;" href="/Clientes/Create">+ Adicionar Cliente</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Documento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="bg-primary p-1 text-white rounded-3"  style="text-decoration:none;">Editar</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="bg-info p-1 text-white rounded-3 "  style="text-decoration:none;">Visualizar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="bg-danger p-1 text-white rounded-3" style="text-decoration:none;">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
